.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 4rem;
}

.ad-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 4.5rem;
}

.ad {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0.25rem 0.5rem rgba(220, 220, 200, 0.55);
    gap: 2rem
}

.ad img {
    border-radius: 1rem;
    margin: 0.5rem;
}

.ad-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ad-footer {
    margin-top: auto;
    align-self: flex-end;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.input-container span {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.input-container span input {
    width: 10vw;
}

.input-container button {
    width: 8rem;
}

.clicked {
    pointer-events: none;
    background-color: darkgrey;
}

.darkmode-text {
    color: white;
}

.darkmode-ad {
    background-color: black;
    box-shadow: 0.25rem 0.5rem rgba(100, 100, 100, 0.55);
}